.png {
  width: 128px;
  height: 128px;
  background-image: url('./icon.png');
  background-size: cover;
}

.svg {
  width: 128px;
  height: 128px;
  background-image: url('./icon.svg');
  background-size: cover;
}
